body{
    background-color: #EAEAEA;
}
#house{
    margin-left: auto;
    margin-right: auto;
    float: left;
}
#keyboard{
    float: right;
    width: 300px;
    height: 500px;
    background-color: #4F6D7A;
}
.key{
    margin: 3px;
    float: left;
    background-color: #C0D6DF;
}
